body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
#titleBar {
  height: 2.2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #2c2b2a;
  -webkit-app-region: drag;
}
#appTitle {
  position: absolute;
  left: 50vw;
  top: 5px;
  color: #fff;
  font-family: "Cantarell", "Sans-Serif";
}

#main-container {
  display: flex;
  flex-direction: column;
}

#component-container {
  display: flex;
  justify-content: space-around;
}
